.top-bar {
    background-color: #d71e28;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .company-name {
    margin-left: 10px;
    display: inline-block;
    width: 100%;
  }
  