
      <form *ngIf="firstFormGroup"  [formGroup]="firstFormGroup">
        
        
        <p style="cursor: pointer;color: red;" *ngIf="finalJson?.final_state?.test_case_report" 
        (click)="openReport();">Show Report</p> 

        <div class="form-row">
            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>Partition</mat-label>
                <input type="text" matInput formControlName="partition"/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>BUS UNIT</mat-label>
                <input type="text" matInput formControlName="busUnit"/>
            </mat-form-field>
           
        </div>
        
        <div class="form-row">

            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>Eligible SOR Codes (Example: ACCT/SOR_CODE,DEAL/SOR_CODE)</mat-label>
                <input type="text" matInput formControlName="sorCodes"/>
            </mat-form-field>

           
            
        </div>

        <div class="form-row">
            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>RCC Rules</mat-label>
                <textarea matInput formControlName="rccRules" rows="5"></textarea>
            </mat-form-field>
        </div>
  
        <div class="form-row">


            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>Sampling Rule Ref</mat-label>
                <input type="text" matInput formControlName="samplingRuleRef"/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>Sampling Id</mat-label>
                <input type="text" matInput formControlName="samplingId"/>
            </mat-form-field>

            
        </div>

        <div class="form-row">
           
            
            <mat-form-field appearance="fill" class="wf-field">
                <mat-label>Sampling Data</mat-label>
                <textarea matInput formControlName="samplingData" rows="3"></textarea>
            </mat-form-field>
        </div>
        
        <ng-container *ngIf="showBranchDetails">
            <div class="form-row">
                <mat-form-field appearance="fill" class="wf-field">
                    <mat-label>JIRA No</mat-label>
                    <input type="text" matInput formControlName="jiraNo"/>
                </mat-form-field>
        
            </div>
    
            <div class="form-row">
                <mat-form-field appearance="fill" class="wf-field">
                    <mat-label>Base Branch Name</mat-label>
                    <input type="text" matInput formControlName="baseBranch"/>
                  </mat-form-field>
    
                <mat-form-field appearance="fill" class="wf-field">
                    <mat-label>New On-boaring Branch Name</mat-label>
                    <input type="text" matInput formControlName="newBranch"/>
                  </mat-form-field>
            </div>
        </ng-container>

        
       

        <div style="float: right;" *ngIf="flow !== 'Verify'"> 
           <button mat-button [disabled]="firstFormGroup.invalid || submitAction || !firstFormGroup.get('jiraNo')?.value || !firstFormGroup.get('newBranch')?.value ||
           !firstFormGroup.get('baseBranch')?.value" color="primary" (click)="submit();">Submit</button>
        </div>

        <div style="float: right;" *ngIf="flow == 'Verify'"> 
            <button mat-button [disabled]="firstFormGroup.invalid || submitAction" color="primary" (click)="update();">Update</button>
         </div>
      </form>
  