
<div *ngIf="allQuestionares && (allQuestionares | keyvalue).length > 0; else noData">
<h3>Questionares to Verify</h3>
<div *ngFor="let questionare of allQuestionares | keyvalue" class="validation-questionare-container">
    <mat-expansion-panel
        (opened)="onPanelOpened(questionare)" 
        (closed)="onPanelClosed(questionare)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          On Boarding Name : {{ questionare.value.answers[0] }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div style="text-align: right;">
        <button mat-raised-button color="primary" (click)="verifyDataConflicts(questionare.key)" style="margin-right: 8px;">
            Verify Data Conflicts
        </button>
        <button mat-raised-button color="primary" (click)="proceedToSubmit(questionare.key)">
            Proceed to Submit
        </button>
      </div>

      <div *ngIf="validationData && validationData.length > 0">
        <p class="conflict">
                Conflict Data
        </p>
        <table class="validation_table" >
            <thead>
              <tr>
                <th>Rule</th>
                <th>Line Number</th>
                <th>Existing RCC</th>
                <th>Input RCC</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let validation of validationData">
                <td>{{ validation.rule }}</td>
                <td>{{ validation.lineNumber }}</td>
                <td>{{ validation.existingRcc }}</td>
                <td>{{ validation.inputRcc }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <br>
      <app-submit-questionare [questionareFormState]="questionareFormState" [questionare]="questionare"> </app-submit-questionare>

    </mat-expansion-panel>
  </div>
</div>
  <ng-template #noData>
    <p><strong>No Questionare(s) available.</strong></p>
  </ng-template>