.conflict {
    color: red;
    font-weight: bold;
  }
  
  .no-conflict {
    color: green;
  }


  .validation_table{
    min-width: 550px;
    text-align: left;
    border: 1px solid;
  }

  .validation_table tr{
    border: 1px solid;
  }

  
.validation-questionare-container{
    margin-top: 5px;
    border: 1px solid #d71e28;
    border-radius: 10px;
}